@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BEM-VINDO!</h1>
    <p class="lead">Esta simples aplicação foi criada com o objetivo de implementar cadastros de usuários com ASP Net Identity, usando confirmação de Email.</p>
    <p>Para testar o envio de confirmação de e-mail, você precisa configurar o e-mail e senha do remetente no Web.config da aplicação.</p>
    <p>Fique tranquilo que criaremos um banco de dados local especialmente para voçê, no momento em que rodar a aplicação pela primeria vez :) </p>
</div>